<div class="row">
  <div class="small-8 small-centered columns">
    <h1>Report a Service Outage</h1>
    <h2>Requester: <%= current_user.name %></h2>

    <%= simple_form_for @report, :url => url_for(:action => 'submit'), :method => 'post' do |f| %>
      <%= f.association :service %>
      <%= f.input :reproduce %>
      <%= f.button :submit %>
    <% end %>

  </div>
</div>
