<div class="row">
  <div class="small-8 small-centered columns">
    <%= render :partial => "application/flashes" %>
    <h1>Report a Service Outage</h1>
    <h3>Requester: <%= current_user.name %></h3>

    <%= simple_form_for @report, :url => url_for(:action => 'submit'), :method => 'post' do |f| %>
      <%= f.association :service, :required => true %>
      <%= f.input :reproduce, :required => true, input_html: {value: "1) \n2) \n3) "} %>
      <%= f.button :submit %>
    <% end %>

  </div>
</div>
