<h2>Report a Service Outage</h2>
<h3>Requester: <%= current_user.name %></h3>

<%= simple_form_for @report, :url => url_for(:action => 'submit'), :method => 'post' do |f| %>
  <%= f.association :service, required: true, collection: Service.order('name ASC'), label: 'Affected Service:' %>
  <br/>
  <%= f.input :reproduce, required: true, as: :bootsy, label: false %>
  <%= f.button :submit %>
<% end %>